@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Montserrat&display=swap");

:root {
    --display-font: "Comfortaa", cursive;
    --text-font: "Montserrat", sans-serif;
    --primary: #5fbb97;
    --primary-dark: #3d8f70;
    --secondary: #ffd1ba;
    --light: #f4f4f5;
    --medium: #797b84;
    --dark: #1a1d23;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
    background-color: var(--secondary);
    color: var(--dark);
}

button {
    background-color: var(--primary);
    color: white;
    padding: 0.5em 2em;
    margin-top: 2em;
    border-width: 0;
    border-radius: 0.3em;
    font-size: 1.1em;
    font-family: var(--text-font); /* get semibold */
    cursor: pointer;
}

h1 {
    font-family: var(--display-font);
    font-size: 6vh;
    margin-bottom: 0.1em;
}

h3 {
    font-family: var(--text-font);
    margin-top: 0;
    color: var(--medium);
}

hr {
    border: none; /* reset default borders */
    border-top: 0.3em solid var(--secondary);
    width: 15vw;
}

.logo-green {
    color: var(--primary-dark);
}

.mini-logo {
    font-size: 2em;
    margin-top: 0.3em;
    margin-left: 0.5em;
}

.round-button {
    background-color: var(--primary);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 0.5em;
    text-align: center;
}
