@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Montserrat:wght@400;600&display=swap");

:root {
    --display-font: "Comfortaa", cursive;
    --text-font: "Montserrat", sans-serif;
    --primary: #5fbb97;
    --primary-dark: #3d8f70;
    --secondary: #ffd1ba;
    --light: #f4f4f5;
    --medium: #797b84;
    --dark: #1a1d23;
    /* Screen width minus the vertical scroll bar */
    --screen-width: calc(100vw - (100vw - 100%));
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--text-font);
    background-color: var(--secondary);
    color: var(--dark);
}

button {
    background-color: var(--primary);
    color: white;
    padding: 0.5em 2em;
    margin-top: 2em;
    border-width: 0;
    border-radius: 0.3em;
    font-size: 1.1em;
    font-family: var(--text-font);
    cursor: pointer;
}
button:hover {
    background-color: var(--primary-dark);
}

h1 {
    font-family: var(--display-font);
    font-size: 6vh;
    margin-bottom: 0.1em;
}

h2 {
    font-family: var(--display-font);
    color: var(--medium);
    padding-top: 1em;
    margin-bottom: 0;
    font-weight: 400;
}

h3 {
    font-family: var(--text-font);
    margin-top: 0;
    color: var(--medium);
}

h4 {
    font-family: var(--text-font);
    font-weight: 600;
    color: var(--dark);
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

hr {
    border: none; /* reset default borders */
    border-top: 0.3em solid var(--secondary);
}

.hr-short {
    width: 15vw;
}

.hr-long {
    width: 25vw;
    float: left;
}

.logo-green {
    color: var(--primary-dark);
}

.mini-logo {
    font-size: 2em;
    margin-top: 0.3em;
    margin-left: 0.5em;
}

.modal-exit {
    float: right;
}

.round-button {
    background-color: var(--primary);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 0.5em;
    text-align: center;
}

.search-bar {
    width: 30vw;
    height: 2vh;
    margin-top: 0.5em;
    font-family: var(--text-font);
    padding: 0.25em 2em;
    border: 0.2em solid var(--light);
    border-radius: 0.3em;
    background-color: #f9f9fa;
    color: var(--medium);
    outline: none;
}

.timestamp {
    color: var(--medium);
    font-size: 0.75em;
    padding: 0;
    margin: 0;
}

.unstyled-link {
    color: inherit;
    text-decoration: none;
}
