:root {
    --board-tile-padding: 1em;
    --board-tile-img-border: 2px;
    --board-tile-width: 100%;
}

.BoardTile {
    padding: var(--board-tile-padding);
    margin: var(--board-tile-padding);
    position: relative;
    display: block;
    background-color: white;
}

.BoardTile-link {
    text-decoration: none;
    color: inherit;
    position: relative;
    display: block;
}

.BoardTile-hover:hover {
    /* separate class so that it is not applied on deletion hover*/
    background-color: var(--light);
}

.BoardTile-btn {
    display: inline;
    right: calc(var(--board-tile-padding) + 6px);
    top: calc(var(--board-tile-padding) + 6px);
    padding: 0.3em 0.4em;
    background-color: var(--primary);
    border-radius: 25%;
    color: white;
    cursor: pointer;
    position: absolute;

    /* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.BoardTile-btn:hover {
    background-color: var(--primary-dark);
}

.BoardTile-edit-btn {
    display: none;
}

.BoardTile:hover .BoardTile-edit-btn {
    display: inline;
}

.BoardTile-title {
    width: var(--board-tile-width);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.BoardTile-img {
    /* If you use --board-tile-width on its own, the image will become slightly larger than the .BoardTile */
    width: calc(var(--board-tile-width) - var(--board-tile-img-border));
    border: solid var(--board-tile-img-border) var(--dark);
    background-color: white;
}

.BoardTile-edit-overlay {
    background-color: var(--medium);
    color: white;
    padding: 0;
    position: relative;
}

.BoardTile-edit-overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
